<style>
  .Fgrid_new {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  margin-top: 65px;
  justify-content: center;
}
</style>

<header class="header" id="top">
  <% if notice.present? %>
    <span class="px-1 pl-10 pt-2 bg-green-50 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></span>
  <% end %>
</header>

<main class="container m-200 mt-3 p-3 h-full w-1/2">
  <div class="Fgrid_new">
    <%= render "form", topping: @topping %>
       <%= turbo_frame_tag "remote_modal" %>
  </div>
</main>