<div class="card Gmodule md:w-2/3 rounded-3xl flex flex-col justify-between" style="border:1px solid" >
  <p class="my-2">
    <strong class="font-medium mb-0 brandh1"><%= pizza.name %></strong>
  </p>

  <div class="flex-grow mt-3 mb-3">
    <% unless pizza.toppings.empty? %>
      <div class="m-1">
        <b>Toppings:</b><br>
        <%= pizza.toppings.pluck(:name).join(', ') %>
      </div>
    <% end %>
  </div>

  <div class="mx-auto justiy-contents-bottom">
    <%= link_to edit_pizza_path(pizza.id),"data-controller": "turbo", class: "rounded py-3 ml-2 px-5 bg-gray-50 inline-block" do %>
      <i class="fa fa-edit"></i> Edit
    <% end %>

    <div class="inline-block ml-2">
      <%= button_to pizza_path(pizza), method: :delete, class: "mt-1 rounded py-3 px-5 bg-gray-50" do %>
        <i class="fa fa-trash"></i> Delete
      <% end %>
    </div>
  </div>
</div>
