
.w-button:hover {
  background: #ff9140 !important;
  box-shadow: 0 0 6px -1px #43454659, inset 0 0 26px 0px #ffe844;
  color: white !important;
  border: none;
}

.w-button {
  border-color: rgba(20, 160, 253, .82);
  color: rgba(20, 160, 253, .82) !important;
}

.bluebar {
  background-image: linear-gradient(200deg, #00a8ffd1 10%, #7460c5 39%, #02d0ff 80%);
  border-radius: 10px;
  height: 3;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}

.nav-link-4,
.w-nav-link {
  max-width: 100%;
  text-align: center;
  min-width: 80px;
}

#examples .example .hover:before,
#examples .example .hover:after {
  background-color: none !important;
}

#examples .example {
  display: inline-grid;
}

#examples .example .hover {
  transition: none;
  width: fit-content;
}

#examples {
  background-color: transparent !important;
}

.text-block-35,
.text-block-36 {
  border-bottom: solid blue 1px;
}

.sector-item:visited {
  color: white;
}

.w-dropdown-list a:visited {
  color: #24a7ff;
}

.dropdown-link-9 {
  color: #24a7ff;
}

.sector-item:hover {
  background-color: #ffffff !important;
  color: rgba(20, 160, 253, .82);
}

.w-slider-nav-invert>div.w-active {
  background-color: rgba(20, 160, 253, .82);
}

.w-tab-link.w--current {
  background: linear-gradient(200deg, rgba(20, 160, 253, .82) 50%, #886bff29 100%, #02d0ff 10%);
  color: white;
}

.tab-link-tab-1:hover,
.tab-link-tab-2:hover,
.tab-link-tab-3:hover,
.tab-link-tab-4:hover {
  background: linear-gradient(200deg, rgba(20, 160, 253, 0.74) 70%, #886bff29 100%, #02d0ff 10%);
  color: white;
  box-shadow: inset 1px -1px 9px 10px rgb(0, 0, 0);
}

.text-block-35,
.text-block-36,
.text-block-37,
.text-block-38 {
  display: grid;
  margin: 50%;
}

.dashcols {
  min-height: 400px;
}

.w-dropdown-list {
  min-width: fit-content;
}

.geographic-section {
  padding: 40px;
  border: 1 0 1 grey;
}

.w-tab-link {
  margin: 100px;
  border-radius: 50px !important;
  background-color: rgb(255, 255, 255);
  color: rgba(20, 160, 253, .82);
  border: solid 1px;
  height: auto;
  font-family: poppins 300px;
  text-align: center;
}

.tab-link-tab-4:hover,
.tab-link-tab-3:hover,
.tab-link-tab-2:hover,
.tab-link-tab-1:hover {
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, .29);
}

.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

.w-tab-pane {
  margin-bottom: 100px;
}

.heading-54,
.heading-53 {
  color: rgba(20, 160, 253, .82);
  border-bottom: 2px solid;
}

.heading-53 {
  height: 100px;
  padding-top: 25px;
}

.slider-9.comp-slide-dash {
  height: 1000px;
  background: white;
  overflow: auto;
}

.slider-9.executives-dash-slide {
  overflow: auto;
}

.settings-header {
  background-color: transparent;
}

.sector-item {
  border-radius: 9px !important;
  margin: 5px !important;
  background: rgba(20, 160, 253, 0.82);
  color: white;
}

.hover-3 {
  margin-bottom: 30px !important;
}

/*
Set the color of the icon
*/
svg path,
svg rect {
  fill: #4253ff;
}

.backpic {
  position: fixed;
  background: #14a0fd;
  opacity: 0.1;
  background-image: linear-gradient(rgb(255, 255, 255), cyan) !important;
}


.top-title {
  margin-bottom: 80px;
  background: white;
  border-radius: 10px;
  box-shadow: none;
}

h1 {
  color: #a0a0b7;
}

.tabs-menu-8 {
  margin-top: 0px;
}

.center {
  text-align: -webkit-center;
}

.btn-link {
  font-weight: 300 !important;
  border-color: #39b0ff;
  background: white !important;
  width: 50px !important;
  height: auto !important;
  margin: 0px;
  padding: 0px;
  text-align: -webkit-right;

}

.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: #2fb7ff !important;
}

.w-button:hover {

  background: #ff9140 !important;
  box-shadow: 0 0 6px -1px #43454659, inset 0 0 26px 0px #ffe844;
  color: white !important;
  border: none;

}

.w-button {
  border-color: rgba(20, 160, 253, .82);
  color: rgba(20, 160, 253, .82) !important;
}

.bluebar {
  background-image: linear-gradient(200deg, #00a8ffd1 10%, #7460c5 39%, #02d0ff 80%);
  border-radius: 10px;
  height: 3;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}

.nav-link-4,
.w-nav-link {
  max-width: 100%;
  text-align: center;
  min-width: 80px;
}

#examples .example .hover:before,
#examples .example .hover:after {
  background-color: none !important;
}

#examples .example {
  display: inline-grid;
}

#examples .example .hover {
  transition: none;
  width: fit-content;
}

#examples {
  background-color: transparent !important;
}


.text-block-35,
.text-block-36 {
  border-bottom: solid blue 1px;
}

.sector-item:visited {
  color: white;
}

.w-dropdown-list a:visited {
  color: #24a7ff;
}

.dropdown-link-9 {
  color: #24a7ff;
}

.user-av-link:hover {
  background-color: #acabb6;
  color: white !important;
}

.sector-item:hover {
  background-color: #ffffff !important;
  color: rgba(20, 160, 253, .82);
}

.w-slider-nav-invert>div.w-active {
  background-color: rgba(20, 160, 253, .82);
}

.w-tab-link.w--current {
  background: linear-gradient(200deg, rgba(20, 160, 253, .82) 50%, #886bff29 100%, #02d0ff 10%);
  color: white;
}

.tab-link-tab-1:hover,
.tab-link-tab-2:hover,
.tab-link-tab-3:hover,
.tab-link-tab-4:hover {
  background: linear-gradient(200deg, rgba(20, 160, 253, 0.74) 70%, #886bff29 100%, #02d0ff 10%);
  color: white;
  box-shadow: inset 1px -1px 9px 10px rgb(0, 0, 0);
}

.text-block-35,
.text-block-36,
.text-block-37,
.text-block-38 {
  display: grid;
  margin: 50%;
}


.dashcols {
  min-height: 400px;
}

.w-tab-link {
  margin: 100px;
  border-radius: 50px !important;
  background-color: rgb(255, 255, 255);
  color: rgba(20, 160, 253, .82);
  border: solid 1px;
  height: auto;
  font-family: poppins 300px;
  text-align: center;
}

.tab-link-tab-4:hover,
.tab-link-tab-3:hover,
.tab-link-tab-2:hover,
.tab-link-tab-1:hover {
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, .29);
}

.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

.w-tab-pane {
  margin-bottom: 100px;
}

.heading-54,
.heading-53 {
  color: rgba(20, 160, 253, .82);
  border-bottom: 2px solid;
}

.heading-53 {
  height: 100px;
  padding-top: 25px;
}

.settings-header {
  background-color: transparent;
}

.sector-item {
  border-radius: 9px !important;
  margin: 5px !important;
  background: rgba(20, 160, 253, 0.82);

  color: rgba(20, 160, 253, .82) !important;
}

.top-title {
  margin-bottom: 80px;
  background: white;
  border-radius: 10px;
  box-shadow: none;
}

h1 {
  color: #a0a0b7;
}

.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: #2fb7ff !important;
}

.exec-card {
  height: 500px !important;
}

.exec-card:hover {
  box-shadow: rgb(10, 10, 10) 2px 0px 5px;
}

.exec-p1 {
  font-size: 14px;
  font-weight: 100;
  text-align: left;
  padding: 1
}

.Gmodule p {
  color: #474747;
}

.Gmodule {
  background: white;
  align-items: center;
  justify-content: center;
  height: 350px;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 25px -16px rgba(161, 161, 161, 1);
  -moz-box-shadow: 0px 0px 25px -16px rgba(161, 161, 161, 1);
  box-shadow: 0px 0px 25px -16px rgba(161, 161, 161, 1);
  text-align: center;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 100px;
  margin: 0;
  color: #4f81bd !important;
}

.Gmodule:hover {
  background: #fbfbfb;
  -webkit-box-shadow: 0px 0px 35px -16px rgba(161, 161, 161, 1);
  -moz-box-shadow: 0px 0px 35px -16px rgba(161, 161, 161, 1);
  box-shadow: 0px 0px 35px -16px rgba(161, 161, 161, 1);
}

.Fgrid {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 3em;
  max-width: 1000px !important;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}

a {
  text-decoration: none !important;
}

img {
  height: auto;
  max-height: 100px;
  width: 100px;
  margin: 20px;
  border-radius: 20px;
}

h2 {
  color: #4f81bd;
}

.exespotbody {
  margin-top: 200px;
  max-width: 1000px;
  align-self: center;
  margin: auto;
}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card {
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.10, 1.10);
}

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card__category {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto sans', serif;
}

.card__by {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #4f81bd;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}

img {
  align-self: center;
}


.a-qi {
  height: 50px;
}

.a-pos {
  margin-top: -40px;
}

/* Portrait and Landscape */

.section-21 {
  position: static !important;
  height: 500px !important;
  -webkit-background-size: cover;
  background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, .79) 14%, transparent 62%, hsla(0, 0%, 100%, .79) 86%, #fff 98%), url(https://s3.amazonaws.com/filesforfintech/styles/Fintech+Horizons+-+Smart+City+Sun+Flare+Edition.jpg) !important;
  -webkit-background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, .79) 14%, transparent 62%, hsla(0, 0%, 100%, .79) 86%, #fff 98%), url(https://s3.amazonaws.com/filesforfintech/styles/Fintech+Horizons+-+Smart+City+Sun+Flare+Edition.jpg) !important;
  background-position: 0px 0px, 50% 50% !important;
  background-size: auto, cover !important;
  padding-top: 40 !important;
}

.brandh1 {
  background: -webkit-linear-gradient(#6b69ca, rgba(20, 160, 253, 0.82));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgba(20, 160, 253, 0.82);
  font-size: 40px;
}

.headcomname {
  font-family: expansiva;
  size: 3vw;
  font-size: 3em;
  line-height: 1;
  background: -webkit-linear-gradient(#6b69ca, rgba(20, 160, 253, 0.82));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgba(20, 160, 253, 0.82);
}

.w-col {
  min-height: 1px;
}

.nav-menu-2 {
  background-color: rgb(20, 156, 253) !important;
  box-shadow: 0px -11px 20px 2px #ccc, 6px -8px 18px 0 rgba(0, 0, 0, 0.19);
}

.coolh1 {
  padding-top: 35px;
}

.newfeaturesheader {
  border-radius: 5px;
  background-image: linear-gradient(180deg, #ffffffd1 20%, #cfe9ff87 39%, #eefeff 80%);
  font-size: 30px;
  text-align: center;
  font-family: poppins, sans-serif;
  color: #337ab7 !important;
}

.div-block-64 {
  margin-top: 40px;
}

.div-block-47 {
  box-shadow: 0px 0px 1px #768d9b;
}

.special-features2 {
  background-image: none !important;
}

.modal {
    position: fixed;
    z-index: 1;
    padding: 2em;

    /* Centering */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    overflow: auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    /* Add the drop shadow */
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.19);

}

.cancel-button {
    background-color: #1530ff;
    font-size: 12px;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    text-decoration: none;
}

.cancel-button:hover {
    background-color: #2640fe;
}