<header class="header" id="top">
  <% if notice.present? %>
    <div style="margin:12px; margin-top:0px;">
      <span class="p-4 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></span>
    </div>
  <% end %>

  <div class="container-big">
    <div class="row">
      <div class="header__inner col col-12 sm:mx-auto sm:my-auto sm:flex-grow">
          <div style="lg:mt-9; md:mt-8  lg:ml-8 md:ml-7 sm:mx-auto sm:p-5 sm:flex-grow">
            <%= link_to 'Create Topping', new_topping_path, "data-controller": "turbo" , class: "lg:text-lg md:text-lg hover:text-white hover:bg-yellow-400 lg:rounded-3xl md:rounded-2xl sm:rounded-2xl lg:py-6 md:py-3 lg:px-5 md:px-5  sm:text-md
    bg-yellow-300 text-white font-l" %>
          </div>
        <nav class="main-nav">
          <div class="main-nav__box">
            <div class="nav__icon-close">
              <i class="ion ion-md-close"></i>
            </div>
            <div class="nav__title">Chef Bar</div>
            <ul class="nav__list list-reset">
              <li class="nav__item">
                <%= link_to "Home", home_index_path, class: "brandh1 nav__link active-link" %>
              </li>
              <li class="nav__item">
                 <%= link_to "Pizzas", pizzas_path, class: "brandh1 nav__link active-link" %>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
